
*.Cache
16-RecentItems(1-16) (pg 2)/Output-Debug.txt
*.cache
*.cache
16-RecentItems(1-16) (NX)/bin/x86/Release/1to16 pg2 notfinal.rar
16-RecentItems(1-16)/bin/x86/Release/1to16 pg1not final.rar
16-RecentItems(CDi)/bin/x86/Release/cd not final.rar
16-RecentItems(Clapping)/bin/x86/Release/clap notfinal.rar
16-RecentItems(Light)/bin/x86/Release/light not final.rar
16-RecentItems(1-1)/.vs/16-RecentItems/v16/.suo
*.ide
16-RecentItems(Clapping)/.vs/16-RecentItems/v16/.suo
*.ide
*.ide-shm
*.ide-wal
